body {
  font-family: SF-Pro, serif;
  background: linear-gradient(-45deg, #FCFC62, #FDCD4A, #FE9E31, #FF4000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
  
@font-face { font-family: SF-Pro; src: url('./SF-Pro.ttf'); }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.rcorners1 {
  text-align: center;
  border-radius: 25px;
  background: #F1F15E;
  padding: 30px;
  width: 600px;
  height: 300px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
    background: #FCFC62;
}

.title {
  text-align: center;
}