@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
@font-face { font-family: SF-Pro; src: url('./SF-Pro.ttf'); }

h1, h2, h3, p {
  font-family: SF-Pro, serif;
}