<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
</head>
<body>
    <h1>Bienvenue sur Hangman Game</h1>
    <form>
        <div>
          <label for="name">Veuillez entrer votre nom :</label>
          <input id="name" type="text" name="name" />
        </div>
        <div>
          <input type="submit" value="Envoyer" />
        </div>
      </form>
      
</body>
</html>