body {
  background-color: #7997A1;
  font-family: SF-Pro, serif;
}
  
@font-face { font-family: SF-Pro; src: url('./SF-Pro.ttf'); }

.rcorners1 {
  border-radius: 25px;
  background: #FCFC62;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

.rcorners2 {
  border-radius: 25px;
  background: #FDCD4A;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

.rcorners3 {
  border-radius: 25px;
  background: #FE9E31;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

.rcorners4 {
  border-radius: 25px;
  background: #FF4000;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}