<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/templates/default.css" />

    <title>Hangman Game</title>
</head>
<body>
    <h1 class="title">Hangman Game</h1>
    <div class="gradient"></div>
    <div class="rcorners1">
      <h1>Bienvenue sur Hangman Game</h1>
      <form>
        <div>
          <label for="name">Veuillez entrer votre nom :</label>
          <input id="name" type="text" name="name" />
        </div>
        <div>
          <input type="submit" value="Envoyer" />
        </div>
      </form>
    </div>
    <p>{{.Pseudo}}</p>
    
      
</body>
</html>