<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/script.js" defer></script>
    <title>HangFruit</title>
</head>
<body>
    <h1><b><center><h1 class="large-heading">HangFruit</h1></center></b></h1>

    <h2><center>  
        <button><a href="/templates/tuto.html" class="surlignement">Tutoriel</a></button>

        <button class="game-button"><a href="/game" class="surlignement">Game</a></button>

        <button onclick="Settings()">Option</button>

    </center></h2>

    <link rel="stylesheet" href="/static/default.css">

</body>
</html>
