<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/default.css">
    <script src="/templates/script.js/" defer></script>
    <title>HangFruit</title>
</head>
<body>
    <h1><b><center><h1 class="large-heading">HangFruit</h1></center></b></h1>

    <h2><center>  
        <button><a href="/tuto" class="surlignement">Tutoriel</a></button>

        <button class="game-button"><a href="/init" class="surlignement">Game</a></button>

    </center></h2>

</body>
</html>
