<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Hangman Game</title>

  <link rel="stylesheet" href="/templates/main_game.css">
</head>
<body>
  <h1 class="title">Hangman Game</h1>
  <div class="gradient flexbox">
    <div class="rcorners1">

    <div class="mot">
      <h2>Mot à deviner :</h2>
      <p>{{.Hidden_word}}</p>
      <div class="lettres">
        </div>
    </div>
    <div class="usedLetters">
      <h2>Lettres utilisés :</h2>
      <p>{{.Used_letters}}</p>
    </div>
    <form action="/main">
    <button type="submit" class="letterbutton" name="letter" value="A"> <img class="orange" src="/templates/img/orange_A.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="B"> <img class="orange" src="/templates/img/orange_B.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="C"> <img class="orange" src="/templates/img/orange_C.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="D"> <img class="orange" src="/templates/img/orange_D.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="E"> <img class="orange" src="/templates/img/orange_E.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="F"> <img class="orange" src="/templates/img/orange_F.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="G"> <img class="orange" src="/templates/img/orange_G.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="H"> <img class="orange" src="/templates/img/orange_H.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="I"> <img class="orange" src="/templates/img/orange_I.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="J"> <img class="orange" src="/templates/img/orange_J.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="K"> <img class="orange" src="/templates/img/orange_K.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="L"> <img class="orange" src="/templates/img/orange_L.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="M"> <img class="orange" src="/templates/img/orange_M.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="N"> <img class="orange" src="/templates/img/orange_N.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="O"> <img class="orange" src="/templates/img/orange_O.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="P"> <img class="orange" src="/templates/img/orange_P.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="Q"> <img class="orange" src="/templates/img/orange_Q.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="R"> <img class="orange" src="/templates/img/orange_R.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="S"> <img class="orange" src="/templates/img/orange_S.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="T"> <img class="orange" src="/templates/img/orange_T.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="U"> <img class="orange" src="/templates/img/orange_U.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="V"> <img class="orange" src="/templates/img/orange_V.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="W"> <img class="orange" src="/templates/img/orange_W.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="X"> <img class="orange" src="/templates/img/orange_X.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="Y"> <img class="orange" src="/templates/img/orange_Y.png" /></button>
    <button type="submit" class="letterbutton" name="letter" value="Z"> <img class="orange" src="/templates/img/orange_Z.png" /></button>
  
  </form>
    <div class="bonhomme">
      </div>
  </div>
  </div>
</body>
</html>
