<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Jeu du pendu</title>

  <link rel="stylesheet" href="/templates/main_game.css">
</head>
<body>
  <h1 class="title">Hangman Game</h1>
  <div class="gradient flexbox">
    <div class="rcorners1">

    <div class="mot">
      <h2>Mot à deviner :</h2>
      <div class="lettres">
        </div>
    </div>
    <form action="/main">
    <button type="submit" class="letterbutton" name="letter" value="A"> A </button>
    <button type="submit" class="letterbutton" name="letter" value="B"> B </button>
    <button type="submit" class="letterbutton" name="letter" value="C"> C </button>
    <button type="submit" class="letterbutton" name="letter" value="D"> D </button>
    <button type="submit" class="letterbutton" name="letter" value="E"> E </button>
    <button type="submit" class="letterbutton" name="letter" value="F"> F </button>
    <button type="submit" class="letterbutton" name="letter" value="G"> G </button>
    <button type="submit" class="letterbutton" name="letter" value="H"> H </button>
    <button type="submit" class="letterbutton" name="letter" value="I"> I </button>
    <button type="submit" class="letterbutton" name="letter" value="J"> J </button>
    <button type="submit" class="letterbutton" name="letter" value="K"> K </button>
    <button type="submit" class="letterbutton" name="letter" value="L"> L </button>
    <button type="submit" class="letterbutton" name="letter" value="M"> M </button>
    <button type="submit" class="letterbutton" name="letter" value="N"> N </button>
    <button type="submit" class="letterbutton" name="letter" value="O"> O </button>
    <button type="submit" class="letterbutton" name="letter" value="P"> P </button>
    <button type="submit" class="letterbutton" name="letter" value="Q"> Q </button>
    <button type="submit" class="letterbutton" name="letter" value="R"> R </button>
    <button type="submit" class="letterbutton" name="letter" value="S"> S </button>
    <button type="submit" class="letterbutton" name="letter" value="T"> T </button>
    <button type="submit" class="letterbutton" name="letter" value="U"> U </button>
    <button type="submit" class="letterbutton" name="letter" value="V"> V </button>
    <button type="submit" class="letterbutton" name="letter" value="W"> W </button>
    <button type="submit" class="letterbutton" name="letter" value="X"> X </button>
    <button type="submit" class="letterbutton" name="letter" value="Y"> Y </button>
    <button type="submit" class="letterbutton" name="letter" value="Z"> Z </button>
  </form>
    <div class="bonhomme">
      </div>

    <div class="saisie">
      <input type="text" id="lettre" placeholder="Proposer une lettre">
      <button id="valider">Valider</button>
    </div>
  </div>
  </div>
</body>
</html>
